package-lock.json
node_modules
.env
data/
target/
packrat/lib*/
packrat/src*/
trimester-separation/longs/
trimester-separation/wides/
trimester-separation/results/
TODOS/
.DS_Store
.Rhistory
./trimester-separation/.ipynb_checkpoints/
